body{
    font-family: "Caveat", cursive;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
.on-hover:hover{
    text-decoration: underline !important;
}
textarea.form-control:focus{
    box-shadow: none;
    border-color: unset;
}
#posts i:hover{
    cursor: pointer;
}